#product-element fieldset,
#taxstuff-element fieldset {
	margin-bottom: 20px;
}

#product-element dl,
#taxstuff-element dl {
	clear: both;
}

#product-element dd {
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}

#product-element dd div,
#taxstuff-element dd div {
	margin-bottom: 0;
}

#product-element dd.product_units {
	width: 60px;
}

#product-element dd.product_name {
	width: 438px;
}

#product-element dd.product_price {
	margin-right: 0;
	width: 100px;
}

input[name=price],
input[name=taxsum],
input[name=sum] {
	text-align: right;
}

#taxstuff-element dd.tax_tax {
	float: left;
	margin-bottom: 0;
	margin-left: 457px;
	margin-right: 20px;
	width: 60px;
}

#taxstuff-element dd.tax_taxsum {
	float: left;
	margin-bottom: 0;
	width: 100px;
}

.form dl dd.grandsum,
.form dl dd.button {
	clear: both;
}

.form dl dd.grandsum div.element,
.form dl dd.button div.element {
	float: right;
	margin-right: 2px;
	width: 170px;
}