#login div.box {
	background: #F2F2F2;
	border: #C4C4C4 1px solid;
	border-radius: 5px;
	box-shadow: 0 0 20px #C4C4C4;
	margin-top: 80px;
	padding: 0 26px;
	width: 228px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 20px #C4C4C4;	
	-webkit-box-shadow: 0 0 20px #C4C4C4;
}

#login h1 {
	background: transparent url("/images/mybills_cc_logo.png") top left no-repeat;
	height: 55px;
	margin-top: 25px;
}

#login h1 span {
	display: none;
}

#login h2 {
	color: #47834B;
}

div.login_form .hint, div.login_form ul.errors {
	color: #FF0000;
}

div.login_form div {
	margin-bottom: 20px;
}

div.login_form ul.errors,
div.login_form ul.errors li {
	list-style: none;
	margin: 0;
}

div.login_form ul.errors li {
	padding: 5px;
}

div.login_form div.element {
	background: #E6E6E6;
	border: #C4C4C4 1px solid;
	border-radius: 5px;
	margin-bottom: 0;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.login_form input[type=text],
div.login_form input[type=password] {
	background: transparent;
	border: none;
	color: #C4C4C4;
	width: 100%;
}

div.button {
	background: #E6E6E6;
	border: 0;
	margin: 0 -26px!important;
	position: relative;
	width: 280px;
}

div.button input,
div.button button {
	background: transparent;
	border: none;
	color: #60AA85;
	font-size: 21px;
	text-align: right;
	padding: 10px;
	width: 100%;
}

div.button button {
	color: #A4A875;	
}