#login div.box {
	background: #F2F2F2;
	border: #C4C4C4 1px solid;
	border-radius: 10px;
	box-shadow: 0 0 30px #C4C4C4;
	margin-top: 80px;
	overflow: hidden;
	padding: 0 26px;
	width: 228px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 30px #C4C4C4;	
	-webkit-box-shadow: 0 0 30px #C4C4C4;
}

#login h1 {
	background: transparent url("/images/mybills_cc_logo.png") top left no-repeat;
	height: 55px;
	margin-top: 25px;
}

#login h1 span {
	display: none;
}

#login h2 {
	color: #47834B;
}

#login .form .button {
	background: #C4C4C4;
	border: 0;
	border-radius: 0;
	margin: 0 -26px -20px;
	padding: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

#login .form .button input,
#login .form .button button {
	background: none;
	border: 0;
	color: #47834B;
	cursor: pointer;
	margin: 0;
	padding: 10px;
	width: 100%;
}

#login .form .button input:hover,
#login .form .button button:hover {
	color: #FF0000;
}
